body { font-family: 'Open Sans', sans-serif;
font-weight: 400;
padding-top: 50px;
height: 100%;
width: 100%;
overflow: hidden;
}

h1, h2 { font-weight: 300; }
h1 { font-size: 40px; }

#dm-image {
	position: absolute;
	bottom: -50px;
	right: 50px;
}