@import url('/font_schola/stylesheet.css');
@import url('/font_cantarell/stylesheet.css');

/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: #EEE;
	}

	h1,h2,h3,h4 {
		font-family: 'TexGyreScholaRegular';
		font-weight: lighter;
		text-align: center;
	}

	h1 {
		margin: 20px;
		margin-top: 1em;
		font-size: 4em;
		text-shadow: 0px 2px 3px #999;
	}

	h2 {
		font-size: 1.2em;
	}

	h3 {
		text-align: right;
		border-bottom: 2px solid #AAA;
		font-size: 2em;
		margin-top: 2em;
	}

	h4 {
		text-align: left;
		font-size: 1.3em;
		margin-top: 1em;
		margin-bottom: -0.5em;
	}

	p {
		text-align: justify;
		margin-top: 1em;
		margin-bottom: 1em;
		font-family: 'CantarellRegular';
		font-weight: lighter;
		font-size: 1.1em;
		letter-spacing: 0.5px;
	}

	a {
		text-decoration: none;
		font-weight: bold;
		color: #33B;
		font-size: 0.9em;
	}
	
	a:hover {
		color: #119;
	}

	#top_fermata {
		display: block;
		margin-left: auto;
		margin-right: auto;
		margin-top: 3em;
	}

	#pedalup {
		display: block;
		margin: 2em;
		margin-left: auto;
		margin-right: auto;
		width: 10%;
	}
	
	#upper {
		padding-bottom: 5em;
		background: linear-gradient(top, #FFF, #EEE);
		background: -webkit-linear-gradient(top, #FFF, #CCC);
		background: -moz-linear-gradient(top, #FFF, #EEE);
		background: -o-linear-gradient(top, #FFF, #EEE);
		background: -ms-linear-gradient(top, #FFF, #EEE);
	}

	#menu {
/*		background: #74B3FF; */
/*		background: #358; 
		box-shadow: 0 4px 7px #888; */

/*		background: #333;
		border-top: 5px solid #358; */
		background: #555;
		box-shadow: 0 2px 7px #888; 
	}
	
	#menu_body {
		line-height: 0.5em;
		text-align: center;
	}

	#menu_body a {
		color: white;
		text-decoration: none;
		font-size: 1.5em;
		margin: 1em;
		font-weight: normal;
	}

	#menu_body a:hover {
		color: #AAA;
	}

/*	#content {
		margin: 2em;
	}
		*/

	#footer {
		border-bottom: 10px solid black;
	}

	#footer_coda {
		display:block;
		margin-left: auto;
		margin-right: auto;
		width: 10%;
	}

	#footer_content {
		font-size: 0.9em;
		margin-bottom: 5em;
	}

	#footer_content p {
		text-align: center;
	}

/* ============================= */
/* ! Layout for mobile version   */
/* ============================= */

@media handheld, only screen and (max-width: 767px) {

	body {
		
	}


}


/* ========================================== */
/* ! Provide higher res assets for iPhone 4   */
/* ========================================== */

@media only screen and (-webkit-min-device-pixel-ratio: 2) { 

/*	.logo {
		background: url(logo2x.jpg) no-repeat;
		background-size: 212px 303px;
	}*/

}
